name: Build Project

on:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on:
      group: Default
      labels: [ self-hosted, Linux ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Upload artifacts
        id: uploader
        uses: ./
        with:
          src_path: ./README.md
          minio_access_key: ${{ secrets.MINIO_ACCESS_KEY }}
          minio_secret_key: ${{ secrets.MINIO_SECRET_KEY }}

      - name: Download artifacts
        uses: ./
        with:
          src_path: ./README.md
          minio_access_key: ${{ secrets.MINIO_ACCESS_KEY }}
          minio_secret_key: ${{ secrets.MINIO_SECRET_KEY }}
          mode: download

      - name: Verify upload
        run: |
          echo "Uploaded artifact path: ${{ steps.uploader.outputs.artifact_path }}"

