name: Build Project

on:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on:
      group: Default
      labels: [ self-hosted, Linux ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Upload artifacts
        uses: ./
        with:
          path: README.md
          MINIO_ACCESS_KEY: ${{ secrets.MINIO_ACCESS_KEY }}
          MINIO_SECRET_KEY: ${{ secrets.MINIO_SECRET_KEY }}
